<h2>東工大音楽ゲーム愛好会BEATECH</h2>
<h3>BEATECHのホームページへようこそ</h3>
<p>BEATECHは音楽ゲームをプレーする東京工業大学非公認サークルです。<br />
このサイトはBEATECHの部員のための交流用ページです。</p>
<h3>ページリニューアル</h3>
<p>ログイン方式(入部方式)が変わりました。いままで通りTwitterでログインが可能ですが、部員としてのBEATECHアカウントを登録する必要があります。<br />
部員は、いままでにログインしていたTwitterアカウントでログインすると、いままでのアカウント情報を引き継ぐことができます。<br />
  BEATECHアカウントを登録した後、Twitterアカウントと連携することでもデータを引き継ぐことが可能です。</p>

