/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/log/*.log
/tmp
/public/assets
/config/database.yml
/config/deploy.rb
/config/unicorn.rb
/config/initializers/omniauth.rb
/config/initializers/secret_token.rb
.DS_Store
Capfile
