/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/log/*.log
/tmp
/public/assets
/config/deploy.rb
/config/unicorn.rb
/config/initializers/omniauth.rb
/config/initializers/secret_token.rb
/config/initializers/google_analytics.rb
/config/initializers/twitter.rb
.env
.DS_Store
Capfile
