<%= form_tag :action => :create do %>
  <p>
    機種名 例:beatmaniaIIDX SP<br>
    <%= text_field "game", :title %>
  </p>
  <p>
    候補譜面(あとから5個まで候補を挙げられます) 例:冥(A)<br>
    <%= text_field "music", :title %>
  </p>
  
  <%= submit_tag '投票', :class => 'btn' %>  
<% end %>
