.achievements {
  .date {
    margin: 5px 0 0 5px;
    color: #444;
    font-weight: bold;
  }

  table {
    border: 0;
    width: 100%;

    td {
      vertical-align: top;
      padding: 0;
      border: 0;
    }

    .icon {
      width: 50px;
    }

    p {
      margin-bottom: 2px;
    }
  }
}
