.blogs {
  .blog_header {
    height: 20px;
    position: relative;
    background: #4375a8 {
      image: url("/images/bg_header.png");
      repeat: repeat-x;
    }
  }

  .profile_image {
    border-radius: 2px 0 0 2px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .profile_link {
    text-decoration: none;
  }

  .blog_link {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 52px;
    top: 6px;

    &:hover {
      text-decoration: underline;
    }
  }

  .blog_article_link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .delete_blog {
    margin-left: 4px;
  }

  .comments {
    margin-top: 20px;
  }

  .comment {
    background: #f3f3f3;

    &:nth-child(even) {
      background: white;
    }

    .comment_icon {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }

    .left_column {
      width: 48px;
    }

    .right_column {
      padding: 2px 0 2px 6px;
      padding-left: 6px;
      width: 690px;
    }
  }

  .comment_area {
    width: 620px;
  }
}
