.contents {
  float: right;
  margin: 0;
  padding: 10px;
  width: 750px;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #F9F9F9;
  border: 1px solid #aaa {
    radius: 4px;
  }

  h1 {
    margin: -11px -11px 10px -11px;
    line-height: 28px;
    padding: 0px 10px;
    color: #fff;
    font: {
      size: 14px;
      weight: bold;
    }
    border: 1px solid #58b {
      radius: 4px 4px 0 0;
    }
    background: #58b {
      image: url("/images/bg_section.png");
      repeat: repeat-x;
    }
  }

  h2 {
    margin: .9em 0 .3em 0;
    line-height: 1;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background: $h_border;
    border-radius: 4px;
  }

  h3 {
    margin: .9em 0 .3em 0;
    padding: 0 0 4px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    border-bottom: 1px solid $h_border;
    position: relative;
  }

  h4 {
    margin-bottom: 2px;
    padding: 0 0 3px 0;
    font-size: 15px;
    line-height: 1.4;
  }

  h5 {
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 1.4;
    border-bottom: 2px solid #333;
  }

  h6 {
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 1.4;
  }

  p {
    margin: 0 0 1em 5px;
    line-height: 1.4;
  }

  dd {
    padding: 0;
    margin: 0 0 1em 1em;
    padding: 3px;
    background: #f1f1f1;
  }

  table {
    border: 1px solid gray;
    border-collapse: collapse;
    margin-bottom: 10px;

    tr:nth-child(odd) td {
      background: #fff;
    }

    tr:nth-child(even) td {
      background: #f3f3f3;
    }

    tr:hover td {
      background: #fdfbe0;
    }

    thead th {
      background: #f6f6f6;
      background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
      background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
      background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
      background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
      background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
      color: #666;
      white-space: nowrap;
    }

    td, th {
      padding: 5px 3px;
      border: 1px solid #aaa;
    }
  }

  a {
    color: #069;
    text-decoration: underline;
  }

  .active a {
    text-decoration: none;
  }

  .main a:hover {
    color: #008000;
    text-decoration: underline;
  }

  .dvtitle {
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2px;
    padding: 3px;
    font-size: 13px;
    line-height: 1.4;
    background: #ddd;
    line-width: 100%;
    display: block;
    border: 1px solid #aaa;
  }

  .developbox {
    margin: 6px 0px 18px 5px;
    display: none;
  }

  .developbox p {
    line-height: 1.4;
    margin: 9px 0px 0px 0px;
  }

  .more_read .dvtitle {
    padding: 0 0 0 24px;
    margin: 0 3px 0 0;
  }
}
