header {
  margin-bottom: 10px;

  a, a:link {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #ddd;
    }
  }

  .nav_bar {
    text-shadow: 1px 1px 3px #000;
    position: relative;
    height: 40px;
    padding: 0;
    background: #4375a8 {
      image: url("/images/bg_header.png");
      repeat: repeat-x;
    }
  }

  .title_logo {
    position: absolute;
    top: 50%;
    left: 15px;
    line-height: 20px;
    margin-top: -10px;
    float: left;
    font: {
      size: 20px;
      weight: bold;
    }
  }

  .account {
    position: absolute;
    top: 50%;
    right: 15px;
    line-height: 20px;
    margin-top: -10px;
  }

  .header_menu {
    background: black;
    height: 28px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none {
        type: none;
      }
    }

    li {
      position: relative;
      margin: 4px 20px;
      float: left;
    }
  }

  ul .edit_link_list {
    position: absolute;
    top: 23px;
    left: -20px;
    background-color: #000;
    border-radius: 0;

    li {
      margin: 0;
      width: 100%;

      a {
        color: #fff;
      }
    }
  }
}
