#side_menu {
  a {
    color: #333;
    text-decoration: underline;
    &:hover {
      color: #080;
    }
  }

  .section {
    margin-bottom: 10px;
    background: #f2f2f2;
    border: 1px solid #aaa {
      radius: 4px;
    }

    h2 {
      margin: -1px;
      line-height: 28px;
      padding: 0 10px;
      color: #fff;
      border: 1px solid #58b {
        radius: 4px 4px 0 0;
      }
      font: {
        size: 14px;
        weight: bold;
      }
      background: #58b {
        image: url("/images/bg_section.png");
        repeat: repeat-x;
      }
    } 

    ul {
      margin: 0;
      padding: 5px 0 9px 9px;
    }

    li {
      margin: 0;
      padding-left: 18px;
      line-height: 1.8;
      background: url("/images/bg_list.gif") 0 6px no-repeat;
      list-style: none;
    }
  }
}
