.user_data {
  margin-bottom: 25px;

  h3 {
    font-size: 15px;
  }

  .profile {
    @include clearfix;
  }

  .left_column {
    float: left;
  }

  .right_column {
    float: left;
    margin-left: 10px;
    width: 650px;
    height: 100px;
    display: inline-block;
  }

  .profile_image {
    width: 73px;
    height: 73px;
    border: 4px solid #fff;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.25);
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    display: inline-block;
  }
}
