@charset "UTF-8";

@import url("bootstrap.min.css");

/* ========BASIC======== */
html {
    overflow-y:scroll;
}

body {
    margin:0;
    padding:0;
    line-height:1.6;
    letter-spacing:1px;
    font-family:Verdana, Helvetica, sans-serif;
    color:#333;
    font-size:13px;
    background:#fff;
}

br {
    letter-spacing:normal;
}

hr {
    border-top:1px dotted #000;
}

#subL a {
    color:#333;
}

#subL a:hover {
    color:#008000;
}

img {
    border:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

ul, ol {
    margin: 0 0 5px 20px;
}

/* ========TEMPLATE LAYOUT======== */
#top {
    width:960px;
    margin:0 auto;
    background:#fff;
    border-bottom:5px solid #4375a8;
}

#header {
    position:relative;
    width:960px;
    height:40px;
    background:#006F7C;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #143b8f), color-stop(0.00, #4375a8));
    background: -webkit-linear-gradient(top, #4375a8 0%, #143b8f 100%);
    background: -moz-linear-gradient(top, #4375a8 0%, #143b8f 100%);
    background: -o-linear-gradient(top, #4375a8 0%, #143b8f 100%);
    background: -ms-linear-gradient(top, #4375a8 0%, #143b8f 100%);
    background: linear-gradient(top, #4375a8 0%, #143b8f 100%);
}

#menu {
    width:960px;
    background:#000;
}

#box {
    box-shadow: 1px 1px 3px #444;
}

#contents {
    clear:both;
    width:960px;
    margin-top:10px;
}

.main {
    float:right;
    margin:0;
    width:770px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #444;
    margin-bottom:10px;
    background:#F9F9F9;

}

#main-alert {
    float:right;
    margin:0;
    width:770px;
}

#inner-main {
    padding:10px;
}

#subL {
    float:left;
    width:180px;
}

#footer {
    position:relative;
    clear:both;
    width:960px;
}

#contents:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/* ========HEADER CUSTOMIZE======== */
#header h1 {
    margin:0;
    padding:0 10px;
    font-size:20px;
    color:#000;
    line-height:40px;
}

#text-dropshadow {
    text-shadow: 1px 1px 3px #000;
}

#header a {
    color:#FFF;
}

#header h1 a {
    color:#FFF;
    text-decoration:none;
}

#header li a {
    color:#000;
    text-decoration:none;
}

#header span a {
    color:#FFF;
}

#header li a:hover {
    color:#fff;
}

#header h1 a:hover {
    color:#ddd;
}

#header .account {
    color:#000;
    position:absolute;
    top:10px;
    right:10px;
}

#header .caret {
  border-top:   solid 4px #FFF;
  border-left:  solid 4px transparent;
  border-right: solid 4px transparent;
}

/* ========MENU CUSTOMIZE======== */
#menu ul {
    margin:0;
    padding:0;
    background:url("/assets/bg_menu.gif") 0 50% repeat-x;
}

#menu li {
    float:left;
    color:#333;
    list-style-type:none;
}

#login {
    padding:10px;    
}

#login label {
    font-size:13px;
    margin-bottom:0;
}

#menu li a {
    display:block;
    margin-right:1px;
    padding:0 20px;
    line-height:28px;
    color:#fff;
    text-decoration:none;
}

#menu li a:hover{
    color:#ddd;
}

#menu ul:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */    

.main a {
    color:#069;
    text-decoration:underline; 
}

.active a {
    text-decoration:none;
}

form {
    margin:0;
}

.main a:hover {
    color:#008000;
    text-decoration:underline; 
}

.main h1 {
    border-radius: 3px 3px 0px 0px;
    line-height:28px;
    padding:0px 10px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
    background:#79ACAA url("/assets/bg_sub_h2.gif") 0 50% repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #02a8e4), color-stop(0.70, #147bb6), color-stop(0.47, #006fb3), color-stop(0.00, #7295b5));
    background: -webkit-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: -moz-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: -o-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: -ms-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
}

.main h2 {
    box-shadow: 1px 1px 3px #444;
    margin-bottom:5px;
    padding:2px 2px 2px 5px;
    font-size:15px;
    font-weight:bold;
    line-height:1.4;
    border-left:3px solid #000;
    background:url("/assets/bg_h2.gif");
}

.main h3 {
    margin-left:0px;
    padding:1px 3px;
    margin-bottom:5px;
    font-size:13px;
    line-height:20px;
    border-left:2px solid #000;
    border-bottom:1px dotted #000;
}

.main h4 {
    margin-bottom:2px;
    padding:3px;
    font-size:13px;
    line-height:1.4;
    background:#ddd;
}

.main h5 {
    margin-bottom:2px;
    font-size:13px;
    line-height:1.4;
    border-bottom:2px solid #333;
}

.main h6 {
    margin-bottom:2px;
    font-size:13px;
    line-height:1.4;
}

.main p{
    margin:0 0 1em 5px;
    line-height:1.4;
}

.main dd{
    padding:0;
    margin:0 0 1em 1em;
    padding:3px;
    background:#f1f1f1;
}

/* ========subL CONTENTS CUSTOMIZE======== */
#subL .section {
    border-radius: 3px;
    box-shadow: 1px 1px 3px #444;
    margin-bottom:10px;
    background:#EEEDED;
    background: -moz-linear-gradient(top, #F9F9F9, #EFEFEF);
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#EFEFEF));
}

#subL h2 {
    border-radius: 3px 3px 0px 0px;
    line-height:28px;
    padding:0px 10px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
    background:#79ACAA url("/assets/bg_sub_h2.gif") 0 50% repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #02a8e4), color-stop(0.70, #147bb6), color-stop(0.47, #006fb3), color-stop(0.00, #7295b5));
    background: -webkit-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: -moz-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: -o-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: -ms-linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
    background: linear-gradient(top, #7295b5 0%, #006fb3 47%, #147bb6 70%, #02a8e4 100%);
}

#subL ul {
    margin:0;
    padding:5px 0 1em 1em;
}

#subL li {
    margin:0;
    padding-left:18px;
    line-height:1.8;
    background: url("/assets/bg_list.gif") 0 6px no-repeat;
    list-style:none;
}

#subL a {
    text-decoration:underline;
}

/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
    padding:10px;
    text-align:right;
}

#pageTop a {
    padding:0 0 0 12px;
    background:url("/assets/bg_pagetop.gif") 0 60% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
    padding:10px 0;
    text-align:center;
    font-style:normal;
    font-size:11px;
    border-top:1px solid #ccc;
}

/* ========ADDITIONAL LAYOUT======== */
.style-table {
    border: 1px solid gray;
    border-collapse: collapse;
}

table tr:nth-child(odd) td {
    background: #fff;
}

table tr:nth-child(even) td {
    background: #f3f3f3;
}

.style-table thead th {

	background: #f6f6f6;    

	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  
	color: #666;
	white-space: nowrap;
}

table tr:hover td{
    background: #fdfbe0;
}

.style-table td, th {
    padding: 5px 3px;
	  border: 1px solid #aaa;
}

.alert {
    margin-bottom: 10px;
}

#no-margin {
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dvtitle {
  margin:0;
  font-weight:bold;
  cursor: pointer;
  margin-bottom:2px;
  padding:3px;
  font-size:13px;
  line-height:1.4;
  background:#ddd;
  line-width:100%;
  display: block;
  border:1px solid #aaa;
}

.developbox {
  margin: 6px 0px 18px 5px;
  display: none;
}
.developbox p {
  line-height: 1.4;
  margin: 9px 0px 0px 0px;
}

.more_read .dvtitle {
   padding: 0px 0px 0px 24px;
   margin: 0px 3px 0px 0px;
}