body {
  background-color: $background;
}

header .title_bar {
  background-color: $header;
  color: white;

  h1 {
    margin: 6px 0;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .pull-right .btn {
    padding: 5px 14px 4px 14px;
    margin: 4px 0 0 6px;

    a {
      color: white;
    }
  }

  .login {
    vertical-align: sub;
    display: inline-block;

    a {
      margin: 0 14px;
      color: white;
    }
  }
}

header .menu_bar {
  background-color: white;
  border-bottom: 1px solid $border;

  ul {
    padding: 0;
  }

  li {
    float: left;
    list-style-type: none;

    a {
      padding: 5px 8px 3px 8px;
      display: block;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      background-color: $lighter-background;
      border-bottom: 2px solid $lighter-background;
    }

    &.active {
      border-bottom: 2px solid $border;
    }
  }
}

.footer {
  margin-top: 10px;
  border-top: 1px solid $border;
  color: $dark-blue;
  text-align: center;
  padding: 10px 0;
}

.box {
  width: 100%;
  border: 1px solid $border;
  border-radius: 4px;
  margin-top: 10px;
  background-color: white;

  h1.title {
    border-radius: 4px 4px 0 0;
    background-color: $lighter-background;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 6px 10px;
  }

  .content {
    padding: 5px 10px;
  }
}
