@import "beatech_settings";

$padding: 20px;
$icon-size: 73px;
$user-box-width: ($box-width - $padding * 2) / 3;

#users.box {
  h1.title {
    font-size: 20px;
    padding: 15px $padding;
    background-color: transparent;

    .user_count_description {
      color: $light-gray;
      font-weight: normal;
      font-size: 12px;

      .count_label {
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin: 0 4px;
      }
    }
  }

  ul.grade_tabs {
    background-color: $lighter-background;
    padding: 0 $padding;

    li {
      float: left;
      list-style: none;

      a {
        display: block;
        padding: 8px 14px;
      }
    }

    li:hover {
      background-color: $darker-background;
    }

    li.active {
      background-color: $darker-background;

      a {
        color: black;
        cursor: text;
        text-decoration: none;
      }
    }

    li .badge {
      background-color: $blue;
      margin-left: 4px;
      line-height: 12px;
    }
  }

  .grade_contents {
    ul.grade_content {
      padding: 20px $padding 0 $padding;
      display: none;

      &.active {
        display: block;
      }
    }

    li.user {
      width: $user-box-width;
      margin-bottom: 30px;
      float: left;
      list-style: none;
    }

    .icon {
      width: $icon-size;
      height: $icon-size;
      float: left;
    }

    .profile {
      font-size: 12px;
      margin-left: 10px;
      width: $user-box-width - $icon-size - 40px;
      height: $icon-size - 2px;
      float: left;
      overflow: hidden;
    }

    .name {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
