$background: #eaf3ff;
$lighter-background: lighten($background, 1.4%);
$darker-background: darken($background, 2%);
$header: #6e8db2;
$border: #afd3f3;

$link: #527bc0;
$dark-blue: #2a6496;

$width: 970px;
$margin: 20px;
$padding: 30px;
$span1: ($width - $padding - ($margin * 2)) / 3;
$span2: 2 * ($width - $padding - ($margin * 2)) / 3 + $margin;
