- if entry && entry.content
  - tabs = tabs(entry.content)
  - if tabs
    %li.dropdown
      = link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
        編集
        %span.white_caret
      %ul.dropdown-menu.edit_link_list
        - tabs.each do |tab|
          - tab_entry = Entry.find_by_url(tab)
          - if tab_entry && tab_entry.title
            %li= link_to tab_entry.title, edit_entry_path(tab_entry)
  - else
    %li= link_to '編集', edit_entry_path(entry)

-# currently disabled
-# if blog.present? && blog.id.present? && @current_user.present? && blog.user == @current_user
  %li
    = link_to 'ブログを編集', edit_user_blog_path(blog.user, blog)
