#side_menu
  - @side_menus.each do |menu|
    .section
      %h2
        = menu.title
      %ul
        - menu.entries.each do |entry|
          %li
            = link_to_entry(entry)

  .latest_entries
    %h2 最新の10件
    - if @recent_entries.present?
      - @recent_entries.group_by(&:updated_date).each do |date, entries|
        .date
          = date
        %ul
          - entries.each do |entry|
            %li
              = link_to_entry(entry)
