#side_menu
  - @side_menus.each do |menu|
    .section
      %h2
        = menu.title
      %ul
        - menu.entries.each do |entry|
          %li
            = link_to_entry(entry)

  .latest_entries
    %h2 最新の10件
    - last_date = nil
    - if @recent_entries
      - i = 0
      - while @recent_entries.size > 0 && i < 10
        - latest_date_entries = pop_latest_date_entries
        .date= latest_date_entries[:date]
        %ul
          - latest_date_entries[:entries].each do |entry|
            - break unless i < 10
            %li
              = entry_link(entry.title, entry.url)
              - i += 1
